requests
beautifulsoup4
scapy
python-nmap
paramiko
colorama
pysocks
urllib3
dnspython
flask
pyfiglet
echo -e "requests\nbeautifulsoup4\nscapy\npython-nmap\nparamiko\ncolorama\npysocks\nurllib3\ndnspython\nflask" > requirements.txt
